BasedOnStyle: GNU
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakAfterDefinitionReturnType: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterComma
ColumnLimit: 80
ConstructorInitializerIndentWidth: 4
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 4
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: false
